body {
    cursor: default;
    text-align: center;
    counter-reset: kman;
    color: #000;
    margin-top: 20px;
    margin-bottom: -20px;
    background: #e3e3db url('../images/shsbkgd.jpg');
}

/* Set margin for the table container */
table.container {
    margin-left: 80px;
    margin-right: 80px;
}

/* Set width and line-height for the table cells */
td {
    border: none;
    line-height: 150%;
    text-align: justify;
}

/* Set margin for the image cell */
td.image {
    padding-right: 20px;
}

/* -------- *
 *  Header  *
 * -------- */
#wrap {
    text-align: left;
    margin: 0 auto;
    margin-top: 20px;
    width: 88%;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
    color: #333;
}

#header {
    text-align: center;
    background: #e5e5e5;
    border: 2px solid #781808;
    border-top: 5px solid #781808;
    border-bottom: 5px solid #781808;
    padding: 5px 0 13px 0;
    border-radius: 4px 4px 4px 5px;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, .3);
}

#header .about {
    margin: 7px 0 0 0;
    padding: 0;
    font-style: italic;
    color: #555;
}

#header .menu {
    font-weight: bold;
    margin: 0;
    color: #999;
}

#header .menu a:link,
#header .menu a:visited {
    color: #333;
}


/* ---------- *
 *  Sections  *
 * ---------- */
#footer {
    text-align: center;
    background: #e5e5e5;
    border: 1px solid #781808;
    border-top: 5px solid #781808;
    border-bottom: 5px solid #781808;
    font-size: 75%;
    padding: 5px 0 13px 0;
}

#maindiv {
    margin: 0 auto;
    margin-top: -20px;
}

#maindiv .content {
    counter-increment: kman;
    counter-reset: h2;
    background-color: #e8e8e6;
    padding: 0 0 25px 0;
    margin: 50px auto;
    border-width: 1px 1px 4px 10px;
    border-style: solid;
    border-color: #781808;
    width: 90%;
    position: relative;
    display: block;
    border-radius: 4px 4px 4px 5px;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, .3);
}

#maindiv .content::before {
    content: counter(kman, lower-roman);
    font-size: 100%;
    font-weight: bold;
    text-align: center;
    color: #eee;
    background-color: #781808;
    width: 35px;
    top: 0px;
    left: 0px;
    display: block;
}

#maindiv .important {
    font-size: 95%;
    font-family: Verdana;
    text-align: left;
    background-color: #F1F1F1;
    border-top: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
    border-left: solid 1px #aaa;
    border-right: solid 1px #aaa;
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    line-height: 160%;
}

#maindiv .important::before {
    display: none;
}

#maindiv .important p {
    font-size: 100%;
    text-indent: 0px;
    margin: 5px 0 10px 0;
}

#maindiv .important ol {
    margin: -10px 0 0 20px;
}

#maindiv .important ul {
    margin: -10px 0 0 15px;
}

#maindiv .important {
    background-color: #deded9;
    border-width: 1px 4px 1px 4px;
    border-style: solid;
    border-color: #781808;
}

#maindiv .important p {
    margin: 5px 0 5px 0;
    line-height: 180%;
}

#maindiv .important_tuto {
    font-size: 100%;
    font-family: Verdana;
    text-align: left;
    background-color: #F1F1F1;
    border-top: solid 1px #aaa;
    border-bottom: solid 1px #aaa;
    border-left: solid 1px #aaa;
    border-right: solid 1px #aaa;
    padding: 10px;
    margin: 20px auto;
    width: 80%;
    line-height: 160%;
}

.tocplus {
    counter-increment: hman;
}

.toc::before {
    content: counter(hman, lower-roman) '.';
    counter-increment: hman;
    font-size: 100%;
    color: #781808;
    font-style: italic;
    position: absolute
}

#maindiv address {
    font-size: 95%;
    font-style: normal;
    font-weight: bold;
    text-decoration: none;
    color: #BBB;
    background-color: #781808;
    padding: 3px 0px 0px;
    margin: 0px;
    width: 100%;
    position: absolute;
    bottom: -1px;
    left: 0px;
    display: block;
    text-align: right;
}


/* ----------- *
 *  Body text  *
 * ----------- */
#maindiv p {
    font-size: 100%;
    font-style: normal;
    line-height: 150%;
    padding: 0px;
    margin: 10px auto;
    width: 90%;
    display: block;
}

#maindiv p {
    text-align: justify;
    line-height: 150%;
}

#maindiv p.boxed {
    border-style: solid;
    border-width: 1px;
    border-color: #FFCC33;
    margin-top: 32px;
    padding: 6px;
}


/* ---------------- *
 *  Listes - Lists  *
 * ---------------- */
#maindiv ul {
    line-height: 170%;
    margin-left: 4%;
    width: 87%;
}

#maindiv ul li {
    line-height: 150%;
}

#maindiv ul li ul {
    margin: 0px;
    width: 96%;
}

#maindiv ol {
    margin: -10px 0 0 35px;
    *margin-left: 70px;
}

#maindiv ol li {
    line-height: 150%;
}

#maindiv ul li a:link,
#maindiv ul li a:visited,
#maindiv ul li ul li a:link,
#maindiv ul li ul li a:visited {
    color: #781808;
    text-decoration: none;
    font-weight: normal;
}


/* ---------------- *
 *  Version titles  *
 * ---------------- */
#maindiv .version {
    display: block;
    width: 90%;
    background-color: transparent;
    text-align: left;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom: solid 1px #781808;
    border-top: solid 1px #781808;
}


/* ------- *
 *  Links  *
 * ------- */
a:hover,
a:active {
    color: #222;
    border-bottom: 1px solid black;
}

a:link,
a:visited {
    color: #781808;
    font-weight: bold;
    text-decoration: none;
}

#maindiv address a:active {
    color: #fff;
    text-decoration: line-through;
    border: none;
}

#maindiv address a:link,
#maindiv address a:visited {
    font-weight: bold;
    text-decoration: underline;
    background-color: transparent;
    color: #eaeaea !important;
    padding-right: 5px;
    padding-left: 6px;
}


#maindiv address a:focus,
#maindiv address a:hover {
    text-decoration: none;
    color: #F1F1F1;
    border: 0;
}


/* ----------------- *
 *  Sections Titles  *
 * ----------------- */

h1 {
    font-size: 250%;
    /* 225 */
    color: #444;
    padding: 10px 0 15px 0;
    /* 5 0 5 0 */
    margin: 0;
    width: 100%;
}

h2 {
    display: block;
    font-family: Verdana, Trebuchet MS, Arial, serif;
    text-align: left;
    text-indent: 30px;
    padding: 0px;
    margin: 20px 0 0 0;
    border-bottom: dotted 2px #d0d0d0;
    border-top: dotted 2px #d0d0d0;
    background: #deded9;
    font-size: 160%;
}

h2::first-letter {
    color: #781808;
    background-color: transparent;
}

h2 .com {
    color: #781808;
    background-color: transparent;
    margin-left: 40px;
    margin-right: 30px;
}

h3,
h4,
h5 {
    margin: 10px 40px 10px 40px;
    padding: 0;
}

h3 {
    font-size: 125%;
    font-style: italic;
}

h4 {
    font-size: 125%;
}

h5 {
    font-size: 100%;
}

h6 {
    width: 100%;
    margin: 10px 0 15px 0;
    background-color: #ECECEC;
    text-align: left;
    text-indent: 30px;
    font-size: 100%;
    font-style: italic;
    padding-top: 1px;
    padding-bottom: 1px;
    border-bottom: solid 1px #bbb;
    border-top: solid 1px #bbb;
}

.com {
    color: #781808;
    background-color: transparent;
    margin-right: 30px;
}


/* ------------------ *
 *  Additional stuff  *
 * ------------------ */

.t1 {
    font-weight: bold;
    width: 26%;
    text-align: right;
    clear: right;
    float: left;
    line-height: 22px;
}

.t2 {
    text-align: left;
    width: 73%;
    float: right;
    line-height: 22px;
}

/* ------------------------ *
 *  WeiDU coding formating  *
 * ------------------------ */

.weidu {
    font-family: Courier New;
    font-size: 100%;
    border: 1px solid black;
    background-color: black;
    color: #deded9;
}

.tp2 {
    font-family: Courier New;
    font-size: 100%;
}

/* ------------- *
 *  Screenshots  *
 * ------------- */

.screen {
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.screen img {
    max-width: 100%;
    opacity: 1;
    transition: opacity 1.25s ease-in-out;
    -moz-transition: opacity 1.25s ease-in-out;
    -webkit-transition: opacity 1.25s ease-in-out;
    display: inline-block;
}

.screen img:hover {
    max-width: 100%;
    opacity: 0
}


/* ---------- *
 *  Red line  *
 * ---------- */
hr {
    /*	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
	height: 1px;
	border: 0;*/
    color: #781808;
    background-color: #781808;
}
